@import "../../../../../../../../assets/sass/variables";

.fecha{
    margin: 0;

    width: 18vh;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    p{
        font-size: 0.75rem;
        font-family: $theme-text-font;
    }

    figure{
        width: 2rem;
        height: 2rem;

        img{
            font-size: 0.5rem;
            height: fit-content;
            width: fit-content;
        }
    }
}

@media screen and (max-width: 640px){
    .fecha{
        width: 6vh;

        p{
            font-size: 1vh;
        }

        figure{
            width: 3vh;
            height: 3vh;
        }
    }
}